# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=__APP_ENV__
APP_SECRET=8583a6ff63c5894a3195331701749943
APP_URL=__APP_URL__
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

###> symfony/swiftmailer-bundle ###
# For Gmail as a transport, use: "gmail://username:password@localhost"
# For a generic SMTP server, use: "smtp://localhost:25?encryption=&auth_mode="
# Delivery is disabled by default via "null://localhost"
MAILER_URL=__APP_MAILER_URL__
###< symfony/swiftmailer-bundle ###

INSTANCE_ID=

DATABASE_URL=mysql://__DB_USER__:__DB_PASSWORD__@__DB_HOST__:__DB_PORT__/__DB_NAME__

COMPOSER_HOME=__COMPOSER_HOME__

SHOPWARE_SES_HOSTS=__SHOPWARE_SES_HOSTS__
SHOPWARE_SES_ENABLED=__SHOPWARE_SES_ENABLED__
SHOPWARE_SES_INDEXING_ENABLED=__SHOPWARE_SES_INDEXING_ENABLED__
SHOPWARE_SES_INDEX_PREFIX=__SHOPWARE_SES_INDEX_PREFIX__
SHOPWARE_HTTP_CACHE_ENABLED=__SHOPWARE_HTTP_CACHE_ENABLED__
SHOPWARE_HTTP_DEFAULT_TTL=__SHOPWARE_HTTP_DEFAULT_TTL__

__FEATURES__
