/composer.lock
/vendor/
/bin/vendor/
/.idea/
/.psh.yaml.override
/.php_cs.cache
/docker-compose.override.yml
/config/jwt/*
!/config/jwt/.gitkeep
/build/*
/custom/*
!/build/artifacts/.gitkeep
!/build/media/.gitkeep
/public/media/*
/public/thumbnail/*
!/public/media/.gitkeep
/public/plugins/*
/files/*
/dev-ops/docker/_volumes/*
/selenium-debug.log
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###
