/vendor/
/bin/vendor/

/.idea/
/.psh.yaml.override
/.php_cs.cache
/docker-compose.override.yml
/public/recovery/
/install.lock

/config/jwt/*
!/config/jwt/.gitkeep
/config/packages/local.yaml
/config/packages/local.yml

/custom/*

/build/*
!/build/artifacts/.gitkeep
!/build/media/.gitkeep

/public/fonts/*
!/public/fonts/.gitkeep
/public/img/*
!/public/img/.gitkeep
/public/css/*
!/public/css/.gitkeep
/public/js/*
!/public/js/.gitkeep
/public/media/*
!/public/media/.gitkeep
/public/theme/*
/public/sitemap/*
/public/thumbnail/*
!/public/thumbnail/.gitkeep
/public/plugins/*
/public/assets/*

/files/*
/.docker-sync/
/dev-ops/docker/_volumes/*
/dev-ops/analyze/node_modules
/dev-ops/analyze/vendor
/dev-ops/analyze/vendor-bin/**/vendor
/dev-ops/analyze/.jscpd
/dev-ops/analyze/tmp
!/dev-ops/analyze/tmp/**/.gitkeep
/dev-ops/locust/fixtures/*
dev-ops/locust/__pycache__/

/selenium-debug.log
chromedriver.log
/platform/

###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

### misc
.DS_Store
/composer.lock
.uniqueid.txt
