variables:
    DOCKER_TLS_CERTDIR: "/certs"
    IMAGE_TAG: shopware/development
    MAIN_PHP_VERSION: "7.4"

stages:
    - analyze
    - unit
    - build

cache:
    key: "Eternal static key"
    paths:
        - .composer
        - .npm

default:
    image: composer
    before_script:
        - composer install --ignore-platform-reqs --no-interaction --optimize-autoloader --no-suggest --no-scripts --no-progress
        - composer install --ignore-platform-reqs --no-interaction --optimize-autoloader --no-suggest --no-progress --working-dir=dev-ops/analyze

Static Analysis:
    stage: analyze
    only:
        refs:
            - merge_requests
            - trunk
    script:
        - dev-ops/analyze/vendor/bin/ecs check --config easy-coding-standard.php
        - dev-ops/analyze/vendor/bin/phpstan analyze --level 8 src

Unit:
    image: composer
    stage: unit
    only:
        refs:
            - merge_requests
            - trunk
    script:
        - vendor/bin/phpunit
            --configuration dev-ops/analyze
            --log-junit build/artifacts/phpunit.junit.xml
            --colors=never
    artifacts:
        reports:
            junit: build/artifacts/phpunit.junit.xml

Build:
    image: docker:18.09.7
    stage: build
    only:
        refs:
            - trunk
        changes:
            - dev-ops/docker/containers/**/*
    services:
        - name: docker:18.09.7-dind
          alias: docker
    parallel:
        matrix:
            - PHP_VERSION: [ "7.2", "7.3", "7.4", "8.0" ]
    before_script:
        - docker login -u $CI_REGISTRY_USER -p "$CI_REGISTRY_PASSWORD"
    script:
        - sed -ri -e "s!php-apache:7.2!php-apache:$PHP_VERSION!g" dev-ops/docker/containers/app/Dockerfile
        - >
            if [[ $PHP_VERSION != "8.0" ]]; then
                echo "RUN pecl install pcov && docker-php-ext-enable pcov" >> dev-ops/docker/containers/app/Dockerfile
            fi
        - docker build -t app-base -t $IMAGE_TAG:${PHP_VERSION} dev-ops/docker/containers/app
        - docker build -t $IMAGE_TAG:${PHP_VERSION}-composer-1 dev-ops/docker/containers/app-composer-1
        - docker rmi app-base
        - docker push $IMAGE_TAG:${PHP_VERSION}-composer-1
        - docker push $IMAGE_TAG:${PHP_VERSION}
    after_script:
        - >
            if [[ $PHP_VERSION = $MAIN_PHP_VERSION ]]; then
                docker tag $IMAGE_TAG:${PHP_VERSION} $IMAGE_TAG:latest
                docker push $IMAGE_TAG:latest
            fi
