header: |
  SHOPWARE Developer Version

         _
        | |
     ___| |__   ___  _ ____      ____ _ _ __ ___
    / __| '_ \ / _ \| '_ \ \ /\ / / _` | '__/ _ \
    \__ \ | | | (_) | |_) \ V  V / (_| | | |  __/
    |___/_| |_|\___/| .__/ \_/\_/ \__,_|_|  \___|
                    | |
                    |_|

templates:
  - source: ".env.dist"
    destination: ".env"

paths:
  - dev-ops/common/actions

const:
  DB_USER: "app"
  DB_PASSWORD: "app"
  DB_HOST: "mysql"
  DB_PORT: "3306"
  DB_NAME: "shopware"
  APP_URL: "http://localhost:8000"
  APP_ENV: "dev"
  APP_MAILER_URL: "smtp://mailhog:1025"
  APP_WATCH: "false"
  SSH_PRIVATE_KEY_PATH: ""
  ESLINT_DISABLE: "true"
  CYPRESS_HEADLESS: "true"
  CYPRESS_ENV: "Administration"
  CYPRESS_PARAMS: ""
  CYPRESS_LOCAL: false
  CHROME_BIN: ""
  E2E_RESTORE_DUMP_PATH: /tmp/shopware_e2e_dump.sql.gz
  SHOPWARE_ES_HOSTS: "elasticsearch:9200"
  SHOPWARE_ES_ENABLED: "0"
  SHOPWARE_ES_THROW_EXCEPTION: "0"
  SHOPWARE_ES_INDEXING_ENABLED: "0"
  SHOPWARE_ES_INDEX_PREFIX: "sw"
  SHOPWARE_HTTP_CACHE_ENABLED: "0"
  SHOPWARE_SCHEDULED_TASKS_DISABLED: "0"
  BLUE_GREEN_DEPLOYMENT: "1"
  SHOPWARE_HTTP_DEFAULT_TTL: 7200
  DOCKER_SYNC_ENABLED: false
  FEATURES: |
    FEATURE_NEXT_516=1
  DEVPORT: "8080"
  STOREFRONT_PROXY_PORT: 9998
  PHP_TEST_SUITES: "administration storefront checkout content framework profiling migration system elasticsearch docs"
  PHP_TEST_COVERAGE:
  VERSION:
  DOCKER_IMAGE_PHP: webdevops/php-apache
  DOCKER_IMAGE_PHP_VERSION: 7.4
  DOCKER_STOP_BEHAVIOUR: down

dynamic:
  USERKEY: echo "$(id -u):$(id -g)"
  APP_ID: docker-compose ps -q app_server
  MYSQL_ID: docker-compose ps -q app_mysql
  CYPRESS_ID: docker-compose ps -q cypress
  USER_ID: id -u
  GROUP_ID: id -g
  E2E_ENV: if [ -z "$(grep docker /proc/self/cgroup)" ]; then echo "default"; else echo "docker"; fi
  PROJECT_ROOT: echo `pwd`
  COMPOSER_HOME: echo ${COMPOSER_HOME:-"$HOME/.composer"}
  DOCKER_APP_VOLUME_MOUNT: echo ".:/app"
  DOCKER_APP_VOLUMES: echo ""

environments:
  docker:
    paths:
      - "dev-ops/docker/actions"
    dynamic:
      DOCKER_APP_VOLUME_MOUNT: |
        DOCKER_SYNC_ENABLED=$(grep DOCKER_SYNC_ENABLED .env | xargs); DOCKER_SYNC_ENABLED=${DOCKER_SYNC_ENABLED#*=};
        if [[ ${DOCKER_SYNC_ENABLED} ]]; then echo "app_server:/app:nocopy"; else echo ".:/app"; fi
      DOCKER_APP_VOLUMES: |
        DOCKER_SYNC_ENABLED=$(grep DOCKER_SYNC_ENABLED .env | xargs); DOCKER_SYNC_ENABLED=${DOCKER_SYNC_ENABLED#*=};
        if [[ ${DOCKER_SYNC_ENABLED} ]]; then echo "volumes:\n  app_server:\n    external: true"; else echo ""; fi
    templates:
      - source: ".env.dist"
        destination: ".env"
      - source: "dev-ops/docker/docker-compose.override.yml"
        destination: "./docker-compose.override.yml"

  administration:
    dynamic:
      HOST: if [ -z "$(grep docker /proc/self/cgroup)" ]; then echo "localhost"; else echo "0.0.0.0"; fi
    paths:
      - "dev-ops/administration/actions"

  e2e:
    const:
      DB_NAME: "shopware_e2e"
      APP_ENV: e2e
    paths:
      - "dev-ops/e2e/actions"
    templates:
      - source: ".env.dist"
        destination: ".env"
      - source: "dev-ops/docker/docker-compose.override.yml"
        destination: "./docker-compose.override.yml"

  storefront:
    paths:
      - "dev-ops/storefront/actions"

  docs:
    const:
        DOCS_DIR: "./vendor/shopware/platform/src/Docs"
    paths:
      - "dev-ops/docs/actions"
